.card {

  height: 250px;
  display: flex;
  align-items: center;
  padding: 20px;
  border: #3a5872 solid;
  border-radius: 5px;
  background-color: #22394D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.media {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.content {
  flex: 1;
  text-align: left; /* Alinha o texto à esquerda */
}

.content h2 {
  color: rgb(255, 255, 255);
  margin: 0 0 0px; /* Margem do título */
  font-size: 1.1em; /* Tamanho da fonte do título */
  text-align: left;
  padding: 1px
}

