.card {
    display: flex;
    width: 100%;
    background-color: #ffffff; /* Ajuste a cor de fundo conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione sombra ao card */
    border-radius: 5px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
  }
  
  .media {
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    margin-right: 20px; /* Espaço entre a imagem e o conteúdo */
  }
  
  .content {
    flex: 1; /* Faz o conteúdo ocupar o restante do espaço */
    
  }
  
  .content h2 {
    color: black;
    margin: 0 0 10px; /* Margem do título */
    font-size: 1.1em; /* Tamanho da fonte do título */
    text-align: left;
  }
  
  h3 {
    color: black;
    margin: 0 0 10px; /* Margem da descrição */
    font-size: 1.2em; /* Tamanho da fonte da descrição */
  }
  
  p {
    
    margin: 0; /* Remove a margem do parágrafo */
    color: #666; /* Cor do texto da data */
  }
  