
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1000px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
  }
  h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    gap: 0px;
  }

  