  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .footer {
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    color: #fff; /* cor do texto do footer */
    padding: 0px; /* espaçamento interno do footer */
    text-align: center; /* alinhar o conteúdo no centro */
}
  
  h1 {
    text-align: center;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
  }
  h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    gap: 0px;
  }

  