.container {
    padding: 10px;
    margin-top: 0px;
    width: 950px;
    margin-top: 10px;
  }

  .footer {
    width: 100%;
    position: fixed;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    color: #fff; /* cor do texto do footer */
    padding: 0px; /* espaçamento interno do footer */
    text-align: center; /* alinhar o conteúdo no centro */
}
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media (max-width: 900px) {
    .grid {
      grid-template-columns: repeat(1, 1fr); /* 2 colunas por linha em telas menores */
    }
  }
  
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr; /* 1 coluna por linha em telas ainda menores */

    }
}
   
    @media (max-width: 440px) {
        .container {margin-top: 1800px};
    }
    @media (max-width: 370px) {
        .container {margin-top: 2100px};
    }
  
  