.card {
    display: flex;
    width: 95%;
    border: #3a5872 solid;
    border-radius: 5px;
    background-color: #22394D;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione sombra ao card */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
  }
  
  .media {
    width: 200px; /* Largura da imagem */
    height: 200px; /* Altura da imagem */
    border-radius: 10%; /* Torna a imagem redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorcer */
    margin-right: 20px; /* Espaço entre a imagem e o conteúdo */
  }
  
  .content {
    flex: 1; /* Faz o conteúdo ocupar o restante do espaço */
    
  }
  
  .content h2 {
    color: rgb(255, 255, 255);
    margin: 0 0 10px; /* Margem do título */
    font-size: 1.1em; /* Tamanho da fonte do título */
    text-align: left;
  }
  
  h3 {
    color: rgb(255, 255, 255);
    margin: 0 0 10px; /* Margem da descrição */
    font-size: 1.0em; /* Tamanho da fonte da descrição */
  }
  
  