.cadastroProjeto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1A212A; /* Cor de fundo da página inteira */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22394D; /* Cor de fundo do formulário */
    width: 500px;
    border-radius: 20px;
    padding: 30px; /* Adiciona espaçamento interno */
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: left; /* Alinha os campos à esquerda */
    margin-top: 20px; /* Reduz o espaço superior */
    color: aliceblue;
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
}

.campo input, .campo textarea, .campo select {
    background-color: #1A212A;
    color: aliceblue; /* Cor do texto branco */
    border-radius: 5px;
    outline: none;
    border: none; 
    height: 40px;  
    padding: 10px; /* Adiciona preenchimento interno */
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
}

.campo label {
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
}

.botao {
    margin-top: 30px;
    background-color: #CC353C; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none; /* Remova a borda */
    border-radius: 5px; /* Adicione bordas arredondadas */
    padding: 10px 20px; /* Adicione preenchimento interno */
    cursor: pointer; /* Altere o cursor ao passar */
    text-align: center; /* Alinhe o texto ao centro */
    outline: none; /* Remova o contorno */
    width: 100%;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Estilos para o botão hover */
.botao:hover {
    background-color: #AF2E33; /* Cor de fundo vermelha mais escura quando hover */
}

.bioTextArea {
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
    height: 400px;
    resize: none;  /* Impede que o usuário redimensione o textarea */
}

/* Adicionando estilos de texto branco para os checkboxes e seus labels */
.checkboxContainer {
    display: flex;
    flex-wrap: wrap; /* Permite quebrar linha */
    justify-content: space-between; /* Espaça os itens igualmente */
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
}

.checkboxItem {
    width: 50%; /* Largura de cada coluna */
    color: aliceblue; /* Cor do texto dos labels dos checkboxes */
}

.checkboxItem input {
    size: 0cap;
    margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
}

.checkboxItem input {
    width: 20px; /* Reduz a largura do checkbox */
    height: 20px; /* Define a altura do checkbox */
    margin-right: 5px; /* Espaçamento entre o checkbox e o texto */
}
