body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden; /* Evitar overflow horizontal */
    overflow-y:auto;
    margin-top: 0px;
    min-height: 100VH;
}

.banner {
    margin-top: 0px;
    padding: 0px;
    width: 100%;
}

.conteudo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.texto {
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 90%; /* Reduzir a largura do texto para telas menores */
    margin: auto; /* Centralizar o texto na tela */
    padding: 30px;
}

h2 {
    color: rgb(200, 255, 0);
    text-align: center;
    text-transform: uppercase;
    width: 80%; /* Reduzir a largura do texto para telas menores */
    margin: auto; /* Centralizar o texto na tela */
    padding: 30px;
}


.container {
    display: flex;
    flex-direction: column; /* Alterar para coluna para telas menores */
    padding: 0; /* Adicionar padding lateral para afastar o conteúdo da borda da tela */
    MARGIN: 0;
}

.botao {
    margin-top: 30px;
    background-color: #CC353C; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none; /* Remova a borda */
    border-radius: 5px; /* Adicione bordas arredondadas */
    padding: 10px 20px; /* Adicione preenchimento interno */
    cursor: pointer; /* Altere o cursor ao passar */
    text-align: center; /* Alinhe o texto ao centro */
    outline: none; /* Remova o contorno */
    width: 100%;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */

}

/* Estilos para o botão hover */
.botao:hover {
    background-color: #AF2E33; /* Cor de fundo vermelha mais escura quando hover */
}


