.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #1A212A; /* Cor de fundo para a página inteira */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
    background-color: #22394D; /* Cor de fundo para o formulário */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para o formulário */
}

.form input,
.form textarea,
.form button {
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc; /* Borda para os inputs e textarea */
    border-radius: 5px;
    outline: none;
}

.form input[type="file"] {
    margin-bottom: 20px;
}

.form button {
    background-color: #CC353C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.form button:hover {
    background-color: #be0009;
}

.titulo {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color:aliceblue;
    font-size: 50px;
}